.header {
  background: linear-gradient(135deg, rgb(4, 177, 235), black);
  padding: 10px;
  height: 72px;
}
.nav-button {
  background: transparent;
  font-size: 20px;
  padding: 10px;
}

.hbtn {
  font-size: xx-large;
  transition: 1s ease-in-out;
}
